*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #FFF;
}
html{
    width: 1920px;
    height: 700px;
    flex-shrink: 0;
}
body{
    border-radius: 10px;
    background: #FFF;
}    
.header{
    margin-top: 40px;
    padding-left: 375px;
    padding-top: 40px;
    padding-bottom: 84px;
    
    
}
.menu{
    margin-left: 500px;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-weight: 400;

}

.menu1{
    margin-right: 35px;
    color: #F25822;
    font-family: Gilroy-SemiBold;   
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-2{
    margin: 35px;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main{
    margin-top: 21px;
    padding-top: 15px;
    padding-left: 373px;
    padding-bottom: 27px;
    padding-right: 439px;
    display: flex;
    justify-content: center;

}

.text {
    padding-top: 59px;
    padding-bottom: 38px;
    margin-right: 40px;
}

h1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-weight: 400;
}

p {
    margin-top: 17px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-weight: 400;
}

.button {
    padding-top: 21px;
    padding-bottom: 23px;
    padding-right: 49px;
}

.button2 {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    border: transparent;
    color: #FFF;
}

.span {
    margin-left: 72px;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
}

.seo {
    width: 544.814px;
    height: 374.843px;
}

.banners {
    display: flex;
    justify-content: center;
    margin-top: 53px;
    padding-top: 59px;
    padding-bottom: 49px;
    padding-left: 345px;
    padding-right: 375px;
}

.logo {
    margin-right: 100px;
}

